@media (max-width: 768px) {
  html {
    font-size: 85%;
  }
}

/* even more compact on phones */
@media (max-width: 576px) {
  html {
    font-size: 75%;
  }

  .app_version {
    display: none;
  }
}