.data-text-area {
  width: 100%;
  height: calc(100vh - 422px); 
}

.aesgzip-switch{
  padding-top: 0.7rem;
}

/* textarea {
  width: 100%;
  height: calc(100vh - 420px); 
  font-size: 1.2rem;
} */

.img-thumbnail {
  height: calc(100vh - 420px); 
}


@media (max-width: 768px) {
  html {
    font-size: 85%;
  }
}

/* even more compact on phones */
@media (max-width: 576px) {
  .data-text-area {
    width: 100%;
    height: calc(100vh - 350px); 
  }

  /* textarea {
    height: calc(100vh - 350px); 
  } */

  html {
    font-size: 75%;
  }

  .app_version {
    display: none;
  }

  .btn {
    scale: 0.8;
    padding: 0.53rem;
  }
}